<form class="form__group field" action="/create" method="POST">
  <input type="text" class="form__field" placeholder="ToDo" name="title" required />
  <label class="form__label">ToDo</label>
  <button class="waves-effect waves-light btn" type="submit">Create</button>
</form>


